.container-height{
    min-height: 500px;
}

.inner-container{
    margin: 100px;
}

.div-separator{
    margin-top: 10px;
}

.dropdown button{
    min-width: 150px;
}

.breadcrumb{
    background-color: transparent  !important;
    border: none !important;
    font-size: 12px !important;
}

.treeview .list-group-item {
    cursor: pointer;
}

.treeview span {
	width: 1rem;
	height: 1rem;
}

.treeview span.indent {
	margin-left: 2px;
	margin-right: 2px;
}

.treeview span.icon {
	margin-left: 2px;
	margin-right: 2px;
}

.footer{
    display: table;
    text-align:left;
    margin-left: auto;
    margin-right: auto;
}

table th{
    background-color: beige
}

.pagination{
    margin: 0% !important;
}

.right-align{
    text-align: right;
}

.data-table{
    max-height: 40px;
    overflow: auto;
}

.no-padding{
    padding-left: 0%;
    padding-right: 0%;
    padding-top:10px;
}

.fixed-height{
    display: block;
    height: 500px;
    overflow-y: auto;
    border-style: solid;
    border-width: thin;
    border-color: #e0d8d8; 
}

.welcome{
    color:green;
}

.hide-menu{
    display: none !important;
}

.show-menu{
    display: block !important;
}

.hide{
    display: none !important;
}

.error{
    color: red;
    text-align:left !important;
}